

html:not(.style-scope){
    --yt-primary-text-color:#333;
    --yt-spec-brand-button-background:#f00;
    --yt-spec-text-primary:#333;
}


/*page*/
ytd-app,
ytd-app[is-watch-page]{
    background-color:#f1f1f1!important;
}
ytd-app[style*="56px"]{
    --ytd-masthead-height:49px!important;
}
ytd-app[guide-persistent-and-visible] ytd-page-manager.ytd-app{
    margin-left:230px;
}


/*text*/
.bold.yt-formatted-string{
    font-weight:500;
}


/*ripple*/
paper-ripple{
    display:none;
}


/*tooltips*/
.fade-in-animation.paper-tooltip{
    animation-duration:.2s;
}
#tooltip.paper-tooltip{
    background-color:black;
    color:white;
    border-radius:2px;
    padding:6px;
    font-size:1.1rem;
    font-weight:500;
    line-height:normal;
    box-shadow:0 1px 1px rgba(0,0,0,.25);
}


/*buttons*/
ytd-button-renderer,
ytd-toggle-button-renderer,
ytd-button-renderer.force-icon-button{
    text-transform:none;
    font-size:1.1rem;
    font-weight:normal;
}
paper-button.ytd-button-renderer,
ytd-toggle-button-renderer.ytd-connected-app-renderer{
    padding:0 10px;
    height:28px;
    width:auto;
    min-width:0;
}
ytd-toggle-button-renderer.style-default-active[is-icon-button]{
    color:#167ac6;
}

/*suggestive*/
ytd-button-renderer.style-suggestive[is-paper-button],
ytd-toggle-button-renderer.style-suggestive[is-paper-button]{
    background-color:#167ac6;
    color:white;
}
ytd-button-renderer.style-suggestive[is-paper-button] paper-button.ytd-button-renderer,
ytd-toggle-button-renderer.style-suggestive[is-paper-button]{
    border-color:#167ac6;
}
ytd-button-renderer.style-suggestive[is-paper-button]:hover,
ytd-toggle-button-renderer.style-suggestive[is-paper-button]:hover{
    background-color:#126db3;
}
ytd-toggle-button-renderer.style-suggestive[is-paper-button] paper-button.ytd-toggle-button-renderer{
    padding:8px 0;
}

/*subscribe*/
paper-button.ytd-subscribe-button-renderer{
    text-transform:none;
    border:1px solid transparent;
    font-weight:normal;
    font-size:1.2rem;
    box-shadow:0 1px 0 rgba(0,0,0,0.05);
    padding:0 8px 0 5.5px;
    height:24px;
}
paper-button.ytd-subscribe-button-renderer:hover{
    background-color:#d90a17;
}
paper-button.ytd-subscribe-button-renderer::before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    background:no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -48px -775px;
    background-size:auto;
    width:16px;
    height:12px;
    margin-right:6px;
}
paper-button.ytd-subscribe-button-renderer[subscribed]{
    border-color:#ccc;
    background-color:#f8f8f8;
    color:#666;
}
paper-button.ytd-subscribe-button-renderer[subscribed]::before{
    background:no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -99px -147px;
}
paper-button.ytd-subscribe-button-renderer:hover[subscribed]::before{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -175px -94px;
}
/*bell*/
yt-icon-button.ytd-subscription-notification-toggle-button-renderer{
    width:28px;
    height:24px;
    padding:0 4px;
    border-radius:0 2px 2px 0;
    margin-left:-5px;
}
ytd-subscription-notification-toggle-button-renderer #button.ytd-subscription-notification-toggle-button-renderer{
    background-color:#f8f8f8;
    border:1px solid #ccc;
}
ytd-subscription-notification-toggle-button-renderer #button.ytd-subscription-notification-toggle-button-renderer:hover{
    background-color:#f0f0f0;
    border-color:#c6c6c6;
    box-shadow:0 1px rgba(0,0,0,.1);
}
button.yt-icon-button > yt-icon.ytd-subscription-notification-toggle-button-renderer{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -99px -605px;
    background-size:auto;
    width:18px;
    height:18px;
}
yt-icon.ytd-subscription-notification-toggle-button-renderer svg{
    display:none!important;
}


/*input*/
/*toggle*/
#caption.ytd-toggle-item-renderer{
    text-transform:none;
}
.toggle-container.paper-toggle-button{
    width:35px;
}
.toggle-bar.paper-toggle-button{
    height:13px;
    background-color:#b8b8b8;
    border:1px solid transparent;
}
paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button{
    background-color:#167ac6;
    opacity:1;
}
paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button::before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -53px -563px;
    background-size:auto;
    width:10px;
    height:7px;
    position:relative;
    left:6px;
}
.toggle-button.paper-toggle-button{
    background-color:#fbfbfb;
    width:13px;
    height:13px;
    border-radius:13px;
    box-shadow:none;
    left:1px;
    top:1px;
}
paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button{
    background-color:#fbfbfb;
    left:7px;
}


/*menus*/
ytd-simple-menu-header-renderer{
    border:0;
}
h2.ytd-simple-menu-header-renderer{
    font-size:1.3rem;
    font-weight:500;
}
paper-listbox{
    padding:10px 0;
}
.dropdown-content.paper-menu-button{
    border:1px solid #ccc;
    box-shadow:none;
    max-width:none!important;
}
ytd-multi-page-menu-renderer,
ytd-menu-popup-renderer{
    background-color:white;
    border:1px solid #c5c5c5;
    box-shadow:0 0 15px rgba(0,0,0,.18);
}
paper-item.ytd-menu-service-item-renderer,
ytd-menu-service-item-renderer[menu-refresh] paper-item.ytd-menu-service-item-renderer,
ytd-menu-navigation-item-renderer[menu-refresh] paper-item.ytd-menu-navigation-item-renderer,
paper-listbox{
    --paper-item-min-height:26.0667px;
}
paper-item.ytd-compact-link-renderer{
    min-height:32px!important;
    height:32px;
}
ytd-multi-page-menu-renderer{
    min-width:212px;
}

/*items*/
.dropdown-content.paper-menu-button paper-item{
    padding:0 25px;
}
#items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:hover,
paper-item.ytd-menu-service-item-renderer:hover{
    background-color:#f5f5f5;
}
ytd-compact-link-renderer:not([has-secondary_]) paper-item.ytd-compact-link-renderer,
paper-item.ytd-compact-link-renderer{
    padding:0 16px;
}
ytd-menu-service-item-renderer[menu-refresh] yt-icon.ytd-menu-service-item-renderer,
ytd-menu-navigation-item-renderer[menu-refresh] yt-icon.ytd-menu-navigation-item-renderer{
    width:16px;
    height:16px;
}
#content-icon.ytd-compact-link-renderer,
.content-icon.ytd-toggle-theme-compact-link-renderer{
    margin-right:30px;
}
paper-listbox.yt-dropdown-menu .iron-selected.yt-dropdown-menu{
    display:none;
}
/*text*/
.item.yt-dropdown-menu{
    font-size:1.3rem;
}

/*copy link*/
#bar.yt-copy-link-renderer{
    background:white;
    border-color:#d3d3d3;
    border-radius:0;
    padding:3px;
}
#share-url.yt-copy-link-renderer{
    font-family:Roboto, Arial, Sans-serif;
    margin:0;
    font-size:2.08rem;
}
yt-copy-link-renderer[renderer-style="copy-link-renderer-style-settings"] #bar.yt-copy-link-renderer{
    background-color:white;
    padding:0;
    padding:3px;
}


/*header*/
ytd-masthead{
    background:white;
    border-bottom:1px solid #e8e8e8;
}
#container.ytd-masthead{
    height:49px;
}

/*logo*/
should_not_match, .yt-icon-container.ytd-topbar-logo-renderer{
    width:100px;
    height:30px;
}
#logo-red-icon-container.ytd-topbar-logo-renderer{
    width:108px;
}

/*search bar*/
#container.ytd-searchbox{
    border-radius:0;
    box-shadow:inset 0 1px 2px #eee;
}

/*icons*/
#buttons.ytd-masthead .ytd-masthead[is-icon-button]{
    color:#808080;
}
#notification-count.ytd-notification-topbar-button-renderer{
    border-bottom:1px solid white;
    border-left:1px solid white;
    border-radius:2px;
    width:auto;
    height:auto;
    line-height:15px;
    min-width:15px;
}
/*notifications*/
/*entries*/
ytd-notification-renderer{
    background-color:#f5f5f5;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
#items.yt-multi-page-menu-section-renderer > ytd-notification-renderer.yt-multi-page-menu-section-renderer:hover:hover{
    background-color:#eee;
}
#button.ytd-menu-renderer yt-icon.ytd-menu-renderer{
    color:#828282;
}


/*posts*/
ytd-post-renderer[uses-compact-lockup_]{
    border:0;
    padding:0;
    --yt-img-border-radius:0;
}

/*author*/
#author-thumbnail.ytd-post-renderer yt-img-shadow.ytd-post-renderer{
    border-radius:0;
}
ytd-post-renderer[uses-compact-lockup_] #author-thumbnail.ytd-post-renderer yt-img-shadow.ytd-post-renderer{
    width:24px;
    height:24px;
}
ytd-post-renderer[uses-compact-lockup_] #author-text.yt-simple-endpoint.ytd-post-renderer{
    color:#167ac6;
    font-weight:500;
    font-size:1.3rem;
}
ytd-post-renderer[uses-compact-lockup_] #author-text.yt-simple-endpoint.ytd-post-renderer:hover{
    color:#167ac6;
    text-decoration:underline;
}
#author-divider.ytd-post-renderer{
    display:none;
}

/*date*/
ytd-post-renderer[uses-compact-lockup_] #published-time-text.ytd-post-renderer{
    font-size:1.1rem;
    line-height:normal;
}


/*guide*/
ytd-app{
    --app-drawer-width:230px;
}
#guide-spacer.ytd-app{
    margin-top:49px;
}

/*sections*/
#guide-section-title.ytd-guide-section-renderer{
    color:#f00;
    font-size:1.1rem;
    font-weight:500;
}

/*entries*/
ytd-guide-section-renderer{
    --paper-item-min-height:28px;
}
ytd-guide-entry-renderer{
    margin:0 22px;
    width:186px;
}
paper-item.ytd-guide-entry-renderer{
    padding:0 9px;
}
paper-item.ytd-guide-entry-renderer::before{
    display:none;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover{
    background-color:#444;
}
ytd-guide-entry-renderer[active]{
    background-color:#f00;
}
.guide-icon.ytd-guide-entry-renderer{
    color:#888;
    --iron-icon-width:19px;
    --iron-icon-height:19px;
}
.title.ytd-guide-entry-renderer{
    font-size:1.3rem;
}
/*icons*/
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Home"] .guide-icon.ytd-guide-entry-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="History"] .guide-icon.ytd-guide-entry-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Purchases"] .guide-icon.ytd-guide-entry-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Watch later"] .guide-icon.ytd-guide-entry-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Liked videos"] .guide-icon.ytd-guide-entry-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist?"] .guide-icon.ytd-guide-entry-renderer{
    background-image:url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp);
    background-repeat:no-repeat;
    background-size:auto;
    width:20px;
    height:20px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Home"] .guide-icon.ytd-guide-entry-renderer svg,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="History"] .guide-icon.ytd-guide-entry-renderer svg,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Purchases"] .guide-icon.ytd-guide-entry-renderer svg,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Watch later"] .guide-icon.ytd-guide-entry-renderer svg,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Liked videos"] .guide-icon.ytd-guide-entry-renderer svg,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist?"] .guide-icon.ytd-guide-entry-renderer svg{
    display:none!important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Home"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-63px -27px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover[title="Home"] .guide-icon.ytd-guide-entry-renderer,
ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Home"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-56px -94px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="History"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-195px -190px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover[title="History"] .guide-icon.ytd-guide-entry-renderer,
ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="History"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-219px -190px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Purchases"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-99px -725px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover[title="Purchases"] .guide-icon.ytd-guide-entry-renderer,
ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Purchases"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-243px -94px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Watch later"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-243px -775px!important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover[title="Watch later"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-217px -252px!important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Liked videos"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-240px -376px!important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover[title="Liked videos"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-31px -918px!important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist?"] .guide-icon.ytd-guide-entry-renderer{
    background-position:-189px -396px;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover[href^="/playlist?"] .guide-icon.ytd-guide-entry-renderer{
    background-position:0 -819px;
}

yt-img-shadow.ytd-guide-entry-renderer{
    border-radius:0;
    width:20px;
    height:20px;
}

/*text*/
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover .guide-icon.ytd-guide-entry-renderer,
ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer{
    color:white;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover .title.ytd-guide-entry-renderer,
ytd-guide-entry-renderer[active] .title.ytd-guide-entry-renderer{
    font-size:1.3rem;
    line-height:2rem;
    color:white;
    font-weight:normal;
}


/*badges*/
.badge.ytd-badge-supported-renderer{
    padding:0 5px;
    height:1.3rem;
    font-size:1rem;
    font-weight:normal;
    text-transform:none;
    line-height:1.2rem;
    border-radius:0;
}
.badge-style-type-simple.ytd-badge-supported-renderer{
    background:transparent;
    border:1px solid #ccc;
    color:#767676;
}
.badge-style-type-live-now.ytd-badge-supported-renderer{
    border:1px solid #e62117;
    color:#e62117;
}

/*verified*/
.badge-style-type-verified.ytd-badge-supported-renderer yt-icon.ytd-badge-supported-renderer,
yt-icon.ytd-author-comment-badge-renderer{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -240px -918px;
    background-size:auto;
    width:12px;
    height:9px;
}
.badge-style-type-verified.ytd-badge-supported-renderer yt-icon.ytd-badge-supported-renderer:hover,
yt-icon.ytd-author-comment-badge-renderer:hover{
    background-position:-81px -314px;
}
.badge-style-type-verified.ytd-badge-supported-renderer yt-icon.ytd-badge-supported-renderer svg,
yt-icon.ytd-author-comment-badge-renderer svg{
    display:none!important;
}


/*thumbnails*/
/*buttons*/
ytd-thumbnail-overlay-toggle-button-renderer{
    background-color:#f8f8f8;
    border:1px solid #d3d3d3;
    color:#7c7c7c;
    width:20px;
    height:20px;
}
ytd-thumbnail-overlay-toggle-button-renderer:hover,
ytd-thumbnail-overlay-toggle-button-renderer[use-expandable-tooltip][hovered]{
    background-color:#f0f0f0;
    border-color:#c6c6c6;
    box-shadow:0 1px 0 rgba(0,0,0,.1);
}
ytd-thumbnail-overlay-toggle-button-renderer[use-expandable-tooltip][hovered] #label.ytd-thumbnail-overlay-toggle-button-renderer{
    display:none;
}
.ytd-thumbnail[top-right-overlay] ~ .ytd-thumbnail[top-right-overlay]{
    top:26px;
}
/*icon*/
ytd-thumbnail-overlay-toggle-button-renderer yt-icon{
    width:19px;
    height:19px;
}

/*time*/
ytd-thumbnail-overlay-time-status-renderer{
    background-color:black;
    font-weight:500;
    font-size:1.1rem;
    opacity:.75;
    border-radius:0;
}

/*resume playback*/
ytd-thumbnail-overlay-resume-playback-renderer{
    background-color:rgba(238,238,238,.6);
}

/*playlist*/
ytd-thumbnail-overlay-hover-text-renderer yt-icon.ytd-thumbnail-overlay-hover-text-renderer{
    fill:#d5d3d4;
}
/*sidebar*/
ytd-thumbnail-overlay-side-panel-renderer{
    font-size:1.8rem;
    line-height:2.2rem;
}
yt-formatted-string.ytd-thumbnail-overlay-side-panel-renderer{
    color:#cfcfcf;
    opacity:.8;
}
yt-formatted-string.ytd-thumbnail-overlay-side-panel-renderer::after{
    content:'Videos';
    display:inline-block;
    font-size:1rem;
    line-height:1.25rem;
    text-transform:uppercase;
}


/*video tiles*/
/*details*/
#details.ytd-rich-grid-video-renderer{
    margin-top:1px;
}
/*author*/
#avatar-link.ytd-rich-grid-video-renderer{
    margin:0;
}
#avatar.ytd-rich-grid-video-renderer{
    display:none;
}
h3.ytd-rich-grid-video-renderer{
    margin-top:0;
}
ytd-rich-grid-video-renderer[mini-mode] h3.ytd-rich-grid-video-renderer{
    margin-bottom:0;
}
ytd-video-meta-block[rich-meta] #channel-name.ytd-video-meta-block,
ytd-video-meta-block[rich-meta] #metadata-line.ytd-video-meta-block,
#byline-container.ytd-grid-video-renderer,
#metadata-line.ytd-grid-video-renderer{
    font-size:1.1rem;
    line-height:1.43rem;
}
#video-title.ytd-rich-grid-video-renderer,
ytd-rich-grid-video-renderer[mini-mode] #video-title.ytd-rich-grid-video-renderer{
    font-size:1.3rem;
    line-height:1.69rem;
}

/*thumbnail*/
ytd-thumbnail.ytd-grid-video-renderer{
    width:196px;
    height:110px;
}

/*title*/
#video-title.ytd-rich-grid-video-renderer,
#video-title.yt-simple-endpoint.ytd-grid-video-renderer{
    color:#167ac6;
}
h3.ytd-grid-video-renderer{
    margin:0;
}

ytd-compact-video-renderer #video-title.ytd-compact-video-renderer,
ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer{
    font-size:1.4rem;
}
#byline-container.ytd-video-meta-block,
#metadata-line.ytd-video-meta-block{
    font-size:1.1rem;
    line-height:1.54rem;
}


/*cards*/
ytd-rich-grid-renderer,
ytd-video-primary-info-renderer,
ytd-video-secondary-info-renderer,
ytd-comments,
#secondary-inner #related,
ytd-backstage-post-thread-renderer[enable-borders-on-community],
ytd-settings-sidebar-renderer,
#primary.ytd-two-column-browse-results-renderer ytd-section-list-renderer{
    background-color:white;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
    margin:0 0 10px;
    border:0;
}

/*padding*/
ytd-rich-grid-renderer,
ytd-video-primary-info-renderer,
ytd-video-secondary-info-renderer,
ytd-comments,
#secondary-inner #related,
ytd-backstage-post-thread-renderer[enable-borders-on-community],
ytd-settings-sidebar-renderer{
    padding:15px;
}


/*rich grids*/
ytd-rich-grid-renderer{
    margin:24px 24px 0 24px;
}
/*header*/
#grid-header.ytd-rich-grid-renderer{
    margin-left:20px;
}
#title.ytd-rich-grid-renderer{
    font-size:1.5rem;
    line-height:1.95rem;
}
ytd-rich-item-renderer,
#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer{
    width:196px;
    margin-left:0;
    margin-right:10px;
    margin-bottom:20px;
}
#grid-header.ytd-rich-grid-renderer{
    margin-top:0px;
}

/*content*/
#contents.ytd-rich-grid-renderer{
    margin-top:10px;
}

/*shelf*/
#title.ytd-rich-shelf-renderer{
    font-size:1.5rem;
    line-height:1.95rem;
}


/*grid*/

/*shelf*/
.grid-subheader.ytd-shelf-renderer{
    margin:0;
}

/*channel*/
yt-img-shadow.ytd-grid-channel-renderer,
yt-img-shadow.ytd-channel-renderer{
    border-radius:0;
}


/*columns*/
ytd-item-section-renderer{
    padding:15px 18px;
}


/*overlay*/
iron-overlay-backdrop{
    background-color:white;
}
iron-overlay-backdrop.opened{
    opacity:.7;
}
ytd-popup-container.ytd-app paper-dialog{
    box-shadow:0 0 15px rgba(0,0,0,.18);
}


/*expander*/
ytd-expander[collapsed] > #content.ytd-expander{
    max-height:65px;
}


/*video page*/
/*player*/
#player.ytd-watch-flexy{
    margin-bottom:10px;
}

/*video info*/
ytd-video-primary-info-renderer{
    padding-bottom:8px;
}
/*title*/
.title.ytd-video-primary-info-renderer{
    font-size:2rem;
    font-weight:400;
    width:75%;
}
#date.ytd-video-primary-info-renderer{
    color:#333;
    font-size:1.3rem;
    font-weight:500;
}
#date.ytd-video-primary-info-renderer yt-formatted-string::before{
    content:'Published on '
}
#top-row.ytd-video-secondary-info-renderer{
    padding:0;
}
#avatar.ytd-video-owner-renderer{
    border-radius:0;
}
/*views*/
yt-view-count-renderer[small_]{
    color:#666;
    font-size:19px;
}
/*like bar*/
#like-bar.ytd-sentiment-bar-renderer{
    background-color:#167ac6;
}
/*description*/
ytd-expander.ytd-video-secondary-info-renderer{
    margin-left:0;
    font-size:1.3rem;
    line-height:1.4rem;
}
#description.ytd-video-secondary-info-renderer{
    max-width:100%;
}

#title.ytd-metadata-row-renderer,
.content.ytd-metadata-row-renderer,
.content.content-line-height-override.ytd-metadata-row-renderer{
    color:#333;
    font-size:1.1rem;
    line-height:1.1rem;
}

/*save to video*/
#title.ytd-add-to-playlist-renderer{
    color:#333;
    font-size:13px;
    font-weight:500;
    padding:12px 14px 5px;
}

/*comments*/
ytd-comment-thread-renderer{
    margin:0 10px 30px 0;
}
ytd-comments-header-renderer{
    margin-top:0;
}
/*author*/
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer{
    width:48px;
    height:48px;
    border-radius:0;
    margin-right:10px;
}
#name.ytd-author-comment-badge-renderer{
    font-size:1.2rem;
}
ytd-author-comment-badge-renderer{
    height:17px;
    background-color:#088bec;
    padding:1px 6px;
}
#author-text.yt-simple-endpoint.ytd-comment-renderer{
    color:#128ee9;
    line-height:1.7rem
}
/*date*/
.published-time-text.ytd-comment-renderer{
    font-size:1.1rem;
}
/*content*/
#content-text.ytd-comment-renderer{
    font-size:1.3rem;
    line-height:1.69rem;
}
/*actions*/
#vote-count-middle.ytd-comment-action-buttons-renderer{
    color:#128ee9;
    font-size:1.2rem;
    font-weight:400;
    line-height:1.69rem;
}
#reply-button-end.ytd-comment-action-buttons-renderer {
    opacity:.75;
}
#comment.ytd-comment-thread-renderer:hover #reply-button-end.ytd-comment-action-buttons-renderer{
    opacity:1;
}
#reply-button-end.ytd-comment-action-buttons-renderer ytd-button-renderer #button.ytd-button-renderer{
    padding:0;
}
ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button-end.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer{
    text-transform:none;
    font-size:1.3rem;
    font-weight:400;
}
/*hearted*/
#hearted-thumbnail.ytd-creator-heart-renderer{
    border-radius:0;
}
/*replies*/
.more-button-exp.ytd-comment-replies-renderer,
.less-button-exp.ytd-comment-replies-renderer{
    color:#2793e6;
    font-size:1.3rem;
    font-weight:500;
}
.more-button-exp.ytd-comment-replies-renderer:hover,
.less-button-exp.ytd-comment-replies-renderer:hover{
    text-decoration:underline;
}
.more-button-exp.ytd-comment-replies-renderer paper-button.ytd-button-renderer,
.less-button-exp.ytd-comment-replies-renderer paper-button.ytd-button-renderer{
    padding:0;
    height:auto;
}
.more-button-exp.ytd-comment-replies-renderer paper-button.ytd-button-renderer::after{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-comments-vflVHNGhW.webp) -152px -20px;
    background-size:auto;
    width:16px;
    height:16px;
    content:"";
    display:inline-block;
    opacity:.7;
    vertical-align:text-bottom;
}
.less-button-exp.ytd-comment-replies-renderer paper-button.ytd-button-renderer::before{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-comments-vflVHNGhW.webp) -152px -74px;
    background-size:auto;
    width:16px;
    height:16px;
    content:"";
    display:inline-block;
    opacity:.7;
    vertical-align:text-bottom;
}
.more-button-exp.ytd-comment-replies-renderer yt-icon,
.less-button-exp.ytd-comment-replies-renderer yt-icon{
    display:none;
}
#button.ytd-button-renderer yt-icon.ytd-button-renderer + yt-formatted-string.ytd-button-renderer{
    margin:0;
}
ytd-comment-renderer:not([comment-style="backstage-comment"])[is-reply] #author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer{
    width:32px;
    height:32px;
}

/*chat*/
/*messages*/
/*author*/
#author-photo.yt-live-chat-text-message-renderer{
    border-radius:0;
}
#author-name.yt-live-chat-author-chip{
    color:#128ee9;
}
yt-live-chat-author-chip.yt-live-chat-text-message-renderer{
    margin-right:12px;
}
/*input*/
#label.yt-live-chat-text-input-field-renderer{
    padding:4px;
}
#input.yt-live-chat-text-input-field-renderer{
    border:1px solid #d3d3d3;
    padding:4px;
}
#underline.yt-live-chat-text-input-field-renderer{
    display:none;
}

/*related videos*/
#secondary-inner{
    margin-left:-14px;
}
#autoplay.ytd-compact-autoplay-renderer{
    text-transform:none;
}


/*channels*/
/*banner*/
/*links*/
#links-holder.ytd-c4-tabbed-header-renderer{
    top:-36px;
}
#primary-links.ytd-c4-tabbed-header-renderer, #secondary-links.ytd-c4-tabbed-header-renderer{
    background-color:rgba(102,102,102,.5);
}

/*header*/
#channel-header.ytd-c4-tabbed-header-renderer{
    background-color:white;
}
/*tabs*/
#tabs-inner-container.ytd-c4-tabbed-header-renderer{
    background-color:white;
}


/*community*/
/*post*/
ytd-backstage-post-thread-renderer[enable-borders-on-community]{
    background-color:white;
}
/*author*/
#author-thumbnail.ytd-backstage-post-renderer yt-img-shadow.ytd-backstage-post-renderer{
    border-radius:0;
    width:48px;
    height:48px;
    margin-right:10px;
}
#author-text.yt-simple-endpoint.ytd-backstage-post-renderer{
    color:#128ee9;
}

/*poll*/
ytd-backstage-poll-renderer{
    width:475px;
}
yt-icon.ytd-backstage-poll-renderer{
    --iron-icon-width:12px;
    --iron-icon-height:12px;
    padding:0;
    border:solid 1px transparent;
    border-radius:12px;
}
.check-icons.ytd-backstage-poll-renderer{
    position:relative;
    bottom:7px;
    left:34px;
    z-index:1;
}
yt-icon.ytd-backstage-poll-renderer svg{
    display:none!important;
}
yt-icon.ytd-backstage-poll-renderer[icon="radio-button-unchecked"]{
    border:1px solid #767676;
}
yt-icon.checked.ytd-backstage-poll-renderer{
    background:no-repeat url(https://s.ytimg.com/yts/imgbin/www-comments-vflVHNGhW.webp) -172px 0;
    background-color:white;
    border-color:white;
    background-size:auto;
    width:12px;
    height:12px;
}
#sign-in.yt-simple-endpoint.ytd-backstage-poll-renderer,
.vote-choice.ytd-backstage-poll-renderer{
    height:16px;
}
.progress-bar.ytd-backstage-poll-renderer{
    height:24px;
    border-radius:2px;
}
.vote-percentage.ytd-backstage-poll-renderer,
.choice-text.ytd-backstage-poll-renderer{
    font-size:1.1rem;
    font-weight:500;
}
.choice-text.ytd-backstage-poll-renderer{
    margin-left:28px;
}
.vote-percentage.ytd-backstage-poll-renderer, .choice-text.ytd-backstage-poll-renderer{
    float:left;
}
.text-area.ytd-backstage-poll-renderer{
    margin:1px 0;
}
paper-item.ytd-backstage-poll-renderer[selected] .text-area.ytd-backstage-poll-renderer{
    color:#128ee9;
}
paper-item.ytd-backstage-poll-renderer[selected] .progress-bar.ytd-backstage-poll-renderer{
    background-color:#def0ff;
}

/*account settings*/
/*sidebar*/
#title.ytd-settings-sidebar-renderer{
    color:#333;
    font-size:1.3rem;
    padding:15px;
    padding-top:0;
}
ytd-compact-link-renderer[compact-link-style="compact-link-style-type-settings-sidebar"][active]{
    background-color:#f00;
}
ytd-compact-link-renderer[compact-link-style="compact-link-style-type-settings-sidebar"][active] paper-item.ytd-compact-link-renderer{
    color:white;
}
ytd-settings-sidebar-renderer{
    padding:15px 0;
    margin:10px;
}
ytd-settings-sidebar-renderer.ytd-browse{
    height:auto;
}
